@page
@model PrototypeRazorAuth.Pages.CDLPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" asp-page="/ProfilePage/Index">Profile</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/DashboardPage/Index">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/GoalsPage/Index">Goals</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/NetworkingPage/Index">Networking</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-page="/CompetenciesPage/Index">Competencies</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" asp-page="/CDLPage/Index">CDL</a>
    </li>
</ul>

<br />

<h3>CDL Learning Files</h3>
<br />
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CDL[0].Document)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDL[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CDL[0].Link)
            </th>
            <th>
                Date Uploaded
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.CDL)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Document)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Link)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateUploaded)
                </td>
            </tr>
        }
    </tbody>
</table>
